##### Vou começar o modelo preparando os dados.
O primeiro passo será a criação de um dataframe com os dados de todos os arquivos .csv do desafio

In [12]:
import pandas as pd
pd.set_option('display.max_rows', 5)
from datetime import datetime

In [13]:
import os
path = './src/'
arquivos = os.listdir(path)

In [14]:
big_df = pd.DataFrame()
for f in arquivos:
    df = pd.read_csv(path+f)
    df['vehicle'] = f
    big_df = big_df.append(df, ignore_index=True)

Para evitar a necessidade de juntar os arquivos novamente, vou salvar o .csv com os dados de todos os veículos

In [15]:
big_df.to_csv('./output/big_df.csv')

Nos próximos passos vou quebrar o timestamp em variáveis que julgo serem relevantes para o modelo

In [16]:
big_df['date'] = big_df['unixtime'].apply(lambda x: datetime.fromtimestamp(x/1000.0))
big_df['year'] = big_df['date'].apply(lambda x: x.year)
big_df['month'] = big_df['date'].apply(lambda x: x.month)
big_df['day'] = big_df['date'].apply(lambda x: x.day)
big_df['hour'] = big_df['date'].apply(lambda x: x.hour)

Mesmo não tendo terminado o enriquecimento, farei uma rápida verificação nessas novas variáveis

In [17]:
big_df

,unixtime,latitude,longitude,speed,vehicle,date,year,month,day,hour
0,1202497200490,37.632166,-122.084713,39.410,veh174.csv,2008-02-08 17:00:00.490,2008,2,8,17
1,1202497203491,37.632607,-122.085040,40.216,veh174.csv,2008-02-08 17:00:03.491,2008,2,8,17
...,...,...,...,...,...,...,...,...,...,...
527566,1202525995102,37.599879,-122.063277,0.017,veh136.csv,2008-02-09 00:59:55.102,2008,2,9,0
527567,1202525999101,37.599879,-122.063277,0.015,veh136.csv,2008-02-09 00:59:59.101,2008,2,9,0

In [18]:
big_df['year'].unique()

array([2008])

Como podemos ver acima, todas as informações são do ano de 2008, então provavelmente esta variável será eliminada mais pra frente

In [19]:
big_df['month'].unique()

array([2])

o mês também é sempre o mesmo, então provavelmente será eliminado do modelo

In [20]:
big_df['day'].unique()

array([8, 9])

In [21]:
big_df['hour'].unique()

array([17, 18, 19, 20, 21, 22, 23,  0])

Outra informação curiosa é que só temos informações das 17h às 00h

Salvando dataframe já enriquecido

In [22]:
big_df.to_csv('./output/big_df_enriquecido.csv')