Agora vamos selecionar as colunas que serão utilizadas e preparar o dataframe para o XGBoost

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 5)

In [3]:
df = pd.read_csv('./output/big_df_enriquecido.csv')

In [4]:
df

,Unnamed: 0,unixtime,latitude,longitude,speed,vehicle,date,year,month,day,hour
0,0,1202497200490,37.632166,-122.084713,39.410,veh174.csv,2008-02-08 17:00:00.490,2008,2,8,17
1,1,1202497203491,37.632607,-122.085040,40.216,veh174.csv,2008-02-08 17:00:03.491,2008,2,8,17
...,...,...,...,...,...,...,...,...,...,...,...
527566,527566,1202525995102,37.599879,-122.063277,0.017,veh136.csv,2008-02-09 00:59:55.102,2008,2,9,0
527567,527567,1202525999101,37.599879,-122.063277,0.015,veh136.csv,2008-02-09 00:59:59.101,2008,2,9,0

Algumas colunas não são relevantes para nosso modelo e podem ainda atrapalhar como a unixtime, por exemplo, já que é um inteiro, mas o tempo ser maior não tem correlação nenhuma com a velocidade, que é nosso target. Como medida de tempo, ficaremos apenas com dia e hora. Inicialmente não entrarei na precisão do minuto, mas farei testes com minutos em um segundo momento.

In [5]:
df.drop(['Unnamed: 0', 'unixtime','vehicle', 'date','year','month'], axis=1, inplace=True)

In [6]:
df.columns

Index([u'latitude', u'longitude', u'speed', u'day', u'hour'], dtype='object')

As colunas 'day' e 'hour' são categóricas e não devem ser tratadas como inteiros. Por este motivo, usarei o método get_dummies para deixá-las no modelo one-hot

In [7]:
dummie = pd.get_dummies(df, prefix=['day','hour'], columns=['day','hour'])

In [16]:
dummie.to_csv('./output/dummie.csv')

Agora chegou a hora de dividir nossa base de dados em treino e teste para podermos treinar e testar o modelo

In [12]:
from sklearn import cross_validation as cv
train, test = cv.train_test_split(dummie, train_size = 0.8)

In [17]:
train.to_csv('./output/train.csv')
test.to_csv('./output/test.csv')