##### Vou começar o modelo preparando os dados.
O primeiro passo será a criação de um dataframe com os dados de todos os arquivos .csv do desafio

In [57]:
import pandas as pd
pd.set_option('display.max_rows', 5)

In [3]:
import os
path = './src/'
arquivos = os.listdir(path)

In [14]:
big_df = pd.DataFrame()
for f in arquivos:
    df = pd.read_csv(path+f)
    df['vehicle'] = f
    big_df = big_df.append(df, ignore_index=True)

Para evitar a necessidade de juntar os arquivos novamente, vou salvar o .csv com os dados de todos os veículos

In [17]:
big_df.to_csv('./output/big_df.csv')

Nos próximos passos vou quebrar o timestamp em variáveis que julgo serem relevantes para o modelo

In [45]:
big_df['date'] = big_df['unixtime'].apply(lambda x: datetime.fromtimestamp(x/1000.0))
big_df['year'] = big_df['date'].apply(lambda x: x.year)
big_df['month'] = big_df['date'].apply(lambda x: x.month)
big_df['day'] = big_df['date'].apply(lambda x: x.day)
big_df['hour'] = big_df['date'].apply(lambda x: x.hour)

Mesmo não tendo terminado o enriquecimento, farei uma rápida verificação nessas novas variáveis

In [59]:
big_df

,unixtime,latitude,longitude,speed,vehicle,date,year,month,day,hour
0,1202497202837,37.600433,-122.063757,0.009,veh101.csv,2008-02-08 17:00:02.837,2008,2,8,17
1,1202497206836,37.600433,-122.063757,0.010,veh101.csv,2008-02-08 17:00:06.836,2008,2,8,17
...,...,...,...,...,...,...,...,...,...,...
527566,1202525994359,37.600176,-122.063436,1.019,veh177.csv,2008-02-09 00:59:54.359,2008,2,9,0
527567,1202525997360,37.600177,-122.063438,0.634,veh177.csv,2008-02-09 00:59:57.360,2008,2,9,0

In [61]:
big_df['year'].unique()

array([2008], dtype=int64)

Como podemos ver acima, todas as informações são do ano de 2008, então provavelmente esta variável será eliminada mais pra frente

In [62]:
big_df['month'].unique()

array([2], dtype=int64)

o mês também é sempre o mesmo, então provavelmente será eliminado do modelo

In [63]:
big_df['day'].unique()

array([8, 9], dtype=int64)

In [64]:
big_df['hour'].unique()

array([17, 18, 19, 20, 21, 22, 23,  0], dtype=int64)

Outra informação curiosa é que só temos informações das 17h às 00h

Salvando dataframe já enriquecido

In [73]:
big_df.to_csv('./output/big_df_enriquecido.csv')